[submodule "hardware/pcb/kicad-mycustom-lib"]
	path = hardware/pcb/kicad-mycustom-lib
	url = https://github.com/canardos/kicad-mycustom-lib.git
[submodule "lib"]
	path = lib
	url = https://github.com/canardos/libpekin.git
